.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body{
  overflow-y: hidden;
  height: 100vh;
  transition: 1s;
    /*background-color: rgb(194, 35, 159);*/
}

.quoteBox{
  transition: .5s;
}
